DATABASE_URL=sqlite+aiosqlite:///./app.db

JWT_SECRET_KEY=04befcdaabf15dc410dc6544c9a3b121543efbb977ebdc646b8bd6a1e9b9e26f
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7